@charset "utf-8";

*{
    margin: 0; 
    padding: 0;
}

#container{
    width: 1000px;
    margin: 0 auto;
}

nav{
    height: 80px;
    background-color: skyblue;
    text-align: center;
}

ul{
    padding-left: 400px;
}
ul li{
    line-height: 80px;
    list-style: none;
    float: left;
}

ul li a{
    display: block;
    padding: 0 30px;
    color: #fff;
    text-decoration: none;
}

ul li a:hover{
    color: blanchedalmond;
    background-color: aquamarine;
}

section{
    margin: 20px;
}